link-workspace-packages = true
shamefully-hoist = false
shared-workspace-shrinkwrap = true
access = public
enable-pre-post-scripts = true
enable-global-virtual-store = false
package-lock = true
strict-peer-dependencies = false
dedupe-peer-dependents = true
resolve-peers-from-workspace-root = true
package-manager-strict = false
