{
  "arrowParens": "avoid",
  "bracketSpacing": true,
  "bracketSameLine": false,
  "quoteProps": "consistent",
  "singleQuote": true,
  "trailingComma": "es5",
  "overrides": [
    {
      "files": "site/**/*.mdx",
      "options": {
        "printWidth": 72
      }
    }
  ]
}
