.container {
  border-radius: 10px;
  padding: 1rem;
  border: 1px solid gray;
}

.address {
  display: inline-flex;
}

.icon {
  margin-right: 0.5rem;
}

.container button {
  margin-left: 0.5rem;
}
